:root {
    --color-body: #b6cbce;
    --color-primary: #2E4F4F;
    --color-secondary: #2C3333;
    --color-brand: #169a9e;
    --color-brand2: #0f7377;
    --font-family:'Bai Jamjuree', sans-serif;
}
