:root {
    --color-body: #b6cbce;
    --color-heading: #CBE4DE;
    --color-primary: #2E4F4F;
    --color-secondary: #2C3333;
    --color-brand: #118589;
    --color-brand2: #085557;
    --font-family:'Bai Jamjuree', sans-serif;
}
